lotus:
  image:
    repository: lotusload/lotus
    tag: v0.1.4
  rbac:
    enabled: true
  configs:
    checks:
      - name: NoWorker
        expr: absent(up)
        for: 30s
      - name: HasWorkerDown
        expr: up == 0
        for: 30s
    receivers:
      - name: logger
        logger:
    timeSeriesStorage:
    grafanaBaseUrl: ""

grafana:
  enabled: true
  replicas: 1
  image:
    repository: grafana/grafana
    tag: 5.3.4
  adminPassword: admin
  sidecar:
    dashboards:
      enabled: true
      label: lotus-grafana-dashboard
    datasources:
      enabled: true
      label: lotus-grafana-datasource
