startup --expand_configs_in_place

# Show us more details
build --show_timestamps --verbose_failures
test --test_output=errors --test_verbose_timeout_warnings

# Include git version info
build --workspace_status_command hack/print-workspace-status.sh

# Preset definitions
build --define DOCKER_REGISTRY=index.docker.io/lotusload

# https://github.com/bazelbuild/rules_go/blob/master/go/modes.rst
build --features=pure

# Make /tmp hermetic
build --sandbox_tmpfs_path=/tmp

# Ensure that Bazel never runs as root, which can cause unit tests to fail.
# This flag requires Bazel 0.5.0+
build --sandbox_fake_username

# Enable go race detection
build:unit --features=race
test:unit --features=race
