apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld
  labels:
    app: helloworld
spec:
  replicas: 2
  selector:
    matchLabels:
      app: helloworld
  template:
    metadata:
      labels:
        app: helloworld
    spec:
      containers:
      - name: helloworld
        image: lotusload/lotus-example:v0.1.5
        args:
          - helloworld
        ports:
        - name: grpc
          containerPort: 8080
        - name: http
          containerPort: 9090
