{{- if .Values.lotus.rbac.enabled }}
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ template "lotus.fullname" . }}-controller
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "lotus.fullname" . }}-controller
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - ""
      - apps
      - extensions
    resources:
      - pods
      - deployments
      - statefulsets
      - services
      - configmaps
      - secrets
    verbs:
      - get
      - list
      - create
      - update
      - delete
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
      - create
      - delete
  - apiGroups:
      - "lotus.nghialv.com"
    resources:
      - lotuses
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "lotus.fullname" . }}-controller
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ template "lotus.fullname" . }}-controller
subjects:
- kind: ServiceAccount
  name: {{ template "lotus.fullname" . }}-controller
  namespace: {{ .Release.Namespace }}
{{- end }}